.editing .button-edit {
  display: none;
}

.editing .button-save {
  display: inline;
}

.editing .button-remove {
  display: none;
}

.editing .button-cancel {
  display: inline;
}

.editing .input {
  display: inline;
}

.button-cancel {
  display: none;
}

.button-save {
  display: none;
}

.input {
  display: none;
}
