@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400;500&display=swap');

body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
  position: relative;
  background: rgb(221, 226, 226);
  height: 100vh;
  width: 100vw;
}

.to-do-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding: 12px 0;
  width: 400px;
}

.list-styling {
  display: flex;
  justify-content: space-between;
}

.box-button {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

span {
  padding-right: 30px;
}

.editing .item-list {
  display: none;
}

.editing .button-edit {
  display: none;
}

.editing .button-save {
  display: inline;
}

.editing .button-remove {
  display: none;
}

.editing .button-cancel {
  display: inline;
}

.editing .input {
  display: inline;
  margin-right: 30px;
}

.btn-add-task {
  border: none;
  color: white;
  background: #1FB6FF;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}

.button-edit {
  border: none;
  color: white;
  background: #1FB6FF;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}

.button-cancel {
  display: none;
  border: none;
  color: white;
  background: #1FB6FF;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}

.button-save {
  display: none;
  border: none;
  color: white;
  background: #1FB6FF;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}

.button-remove {
  border: none;
  color: white;
  background: #1FB6FF;
  border-radius: 15px;
  width: 80px;
  height: 30px;
}

.input {
  display: none;
}
